src/main/mule/mule-maven-prac1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="757b66cd-a2fa-479a-b934-2df468b22846" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-maven-prac1Flow" doc:id="b7f10391-32f0-4a66-920b-66ccf9bcce02" >
		<http:listener doc:name="Listener" doc:id="f696b356-48a4-4c45-8023-fa744442ce00" config-ref="HTTP_Listener_config" path="mule-maven-prac1"/>
		<logger level="INFO" doc:name="Logger" doc:id="244be61f-fa2b-48a5-8414-eade42ba0cc6" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="4f25569b-3098-4b52-bba2-ae558b665c0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"success":200,
	"message":"mule flow is working"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e21229b2-aa44-467b-9d9a-1fbc48948e41" message="#[payload]"/>
	</flow>
</mule>
